# VSC
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.vscode-test
*.code-workspace

.history/

# IntelliJ
.idea/**

out/

.idea_modules/

com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# NPM
node_modules/
